body {
    background-image: url('/background.jpg');
    font-family: 'STSong', monospace, 'PMingLiU';
    opacity: 0.5;
}
header {
    font-family: monospace;
    font-size: 100;
    color: white;
    background-image: url('/banner.jpg');
}
h2 {
    background-color: violet;
    color: white
}
#op {
    opacity: 1;
}