body {
    background: url('background.jpg');
    font-family: 'STSong', monospace, 'PMingLiU';
    color: lightsalmon;
}
header {
    font-family: monospace;
    font-size: 100px;
    color: white;
    background-image: url('banner.jpg');
    text-align: center;
    font-weight: bold;
}
h2 {
    background-color: violet;
    color: white
}

#main {
    opacity: 0.9;
}
#sub {
    font-size: 60px;
    opacity: 0.9;
}
